@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#adminmenu *,
#otis-dashboard-mount .otis-dashboard > h1 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1.4;
}

.otis-dashboard {
	padding-right: 10px;
}
.otis-dashboard h2 {
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
}
.otis-dashboard .otis-dashboard__statuses,
.otis-dashboard .otis-dashboard__settings {
	display: flex;
	flex-wrap: wrap;
}
.otis-dashboard .otis-dashboard__statuses {
	flex-direction: row;
}
.otis-dashboard .otis-dashboard__stettings {
	flex-direction: row;
	margin-bottom: 10px;
}
.otis-dashboard .otis-dashboard__status {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 10px 0 0;
}
.otis-dashboard .otis-dashboard__setting-group {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
}
.otis-dashboard .otis-dashboard__setting {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 10px 10px 0;
	flex-grow: 1;
}
.otis-dashboard .otis-dashboard__setting.otis-dashboard__setting--full-width {
	width: 100%;
}
.otis-dashboard .otis-dashboard__initial-import {
	box-sizing: border-box;
	padding: 10px 10px 10px 0;
}
.otis-dashboard .otis-dashboard__setting p,
.otis-dashboard .otis-dashboard__initial-import p {
	margin: 0 0 5px;
}
.otis-dashboard .otis-dashboard__status .postbox,
.otis-dashboard .otis-dashboard__initial-import .postbox,
.otis-dashboard .otis-dashboard__settings .postbox {
	margin-bottom: 0;
	min-width: auto;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	transition: background-color 0.25s ease;
}
.otis-dashboard .otis-dashboard__status .postbox.success,
.otis-dashboard .otis-dashboard__initial-import .postbox.success,
.otis-dashboard .otis-dashboard__settings .postbox.success {
	background-color: #28834c;
}
.otis-dashboard .vdpr-datepicker__calendar-input-wrapper {
	display: none;
}
.otis-dashboard .otis-dashboard__settings {
	padding: 10px 0px;
}
.otis-dashboard .otis-dashboard__setting label {
	display: block;
	margin: 10px 0 4px;
	font-size: 13px;
	line-height: 1.4;
}
.otis-dashboard .otis-dashboard__setting input[type="text"] {
	display: block;
}
.otis-dashboard .otis-dashboard__setting button,
.otis-dashboard .otis-dashboard__setting .button {
	margin-top: 15px;
}
.otis-dashboard .otis-dashboard__setting button {
	display: inline-block;
}
.otis-dashboard .otis-dashboard__setting table {
	width: 100%;
}
.otis-dashboard .otis-dashboard__setting table tr:nth-child(even) {
	background-color: #f9f9f9;
}
.otis-dashboard .otis-dashboard__setting table th:first-child {
	text-align: left;
}
.otis-dashboard
	.otis-dashboard__setting
	.otis-dashboard__poi-counts
	th:last-child {
	text-align: right;
}
.otis-dashboard
	.otis-dashboard__setting
	.otis-dashboard__poi-counts
	td:first-child {
	text-transform: capitalize;
}
.otis-dashboard
	.otis-dashboard__setting
	.otis-dashboard__poi-counts
	td:last-child {
	text-align: right;
}
.otis-dashboard .otis-dashboard__import-log td:last-child,
.otis-dashboard .otis-dashboard__import-log th:last-child {
	text-align: left;
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.otis-dashboard .otis-dashboard__notifications {
	position: fixed;
	top: 0;
	width: 85%;
	padding-top: 50px;
	z-index: 9999;
	animation: fade-up 0.25s ease;
}
.otis-dashboard .otis-dashboard__notifications .va-alert {
	--va-alert-margin-y: 0;
}

.otis-dashboard .otis-ellipsis {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
}
.otis-dashboard .otis-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #28834c;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.otis-dashboard .otis-ellipsis div:nth-child(1) {
	left: 8px;
	animation: otis-ellipsis1 0.6s infinite;
}
.otis-dashboard .otis-ellipsis div:nth-child(2) {
	left: 8px;
	animation: otis-ellipsis2 0.6s infinite;
}
.otis-dashboard .otis-ellipsis div:nth-child(3) {
	left: 32px;
	animation: otis-ellipsis2 0.6s infinite;
}
.otis-dashboard .otis-ellipsis div:nth-child(4) {
	left: 56px;
	animation: otis-ellipsis3 0.6s infinite;
}
@keyframes otis-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes otis-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes otis-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
